In [1]:
import pandas as pd

example_csv = "https://data.ca.gov/dataset/4a9a896a-e64e-48c2-bb35-5589f80e7c52/resource/5a3f496d-04be-4405-aea0-e83e26076efc/download/covid19dashboard.csv"
data = pd.read_csv(example_csv)
data.describe()

,Latitude,Longitude,TotalConfirmed,TotalDeaths,DistinctPatientsTested,NewInTheLast14Days
count,44870.000000,44870.000000,44870.000000,44870.000000,44870.000000,44870.000000
mean,36.375825,-119.569829,1638.599265,5.782594,92.478181,31.482260
std,2.230665,2.217752,1257.548628,7.762456,149.571368,96.678104
min,32.572602,-124.167030,0.000000,0.000000,0.000000,0.000000
25%,34.728857,-121.157830,652.000000,0.000000,6.000000,0.000000
50%,36.177361,-120.278640,1489.000000,2.000000,39.000000,2.000000
75%,37.955474,-117.914730,2488.000000,8.000000,112.000000,16.000000
max,41.782681,-114.619050,5621.000000,30.000000,3158.000000,1457.000000

In [2]:
data.median()

Latitude                    36.177361
Longitude                 -120.278640
TotalConfirmed            1489.000000
TotalDeaths                  2.000000
DistinctPatientsTested      39.000000
NewInTheLast14Days           2.000000
dtype: float64